<h2><div>Login</div></h2>

<div class="login">
    <form class="login-form" method="post" action="{{{postUrl}}}">
        {{#if (gt errors.length 0)}}
            <div class="errors">
                {{#each errors}}
                    <div
                        class="flash text-error background-error"
                    >{{this.msg}}</div>
                {{/each}}
            </div>
        {{/if}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <p>
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" />
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="text" name="password" id="password" />
        </p>
        <p>
            <input type="submit" value="Login" />
        </p>
    </form>
</div>