<a href="/">Home</a>
>
<a href="/signup">Sign Up</a>

<h2><div>Sign up</div></h2>

<div class="signup">
    <form class="signup-form" method="post" action="/signup">
        {{#if (gt errors.length 0)}}
            <div class="errors">
                {{#each errors}}
                    <div
                        class="flash text-error background-error"
                    >{{this.msg}}</div>
                {{/each}}
            </div>
        {{/if}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <p>
            <label for="username">Username:</label>
            <input
                type="text"
                name="username"
                id="username"
                autocomplete="off"
            />
        </p>
        <p>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" autocomplete="off" />
        </p>
        <p>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" autocomplete="off" />
        </p>
        <p>
            <label for="password">Password:</label>
            <input
                type="password"
                name="password"
                id="password"
                autocomplete="off"
            />
        </p>
        <p>
            <label for="password-confirm">Password:</label>
            <input
                type="password"
                name="password-confirm"
                id="password-confirm"
                autocomplete="off"
            />
        </p>
        <p>
            <input type="submit" value="Login" />
        </p>
    </form>
</div>