/* Set the global `box-sizing` state to `border-box` so that `width` is not affected by `padding` or `border`.*/
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Utilities */
.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-baseline {
    align-items: baseline;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.col {
    flex: 1;
}

.col1 {
    flex: 1;
}

.col2 {
    flex: 2;
}

.col3 {
    flex: 3;
}

.col4 {
    flex: 4;
}

.col5 {
    flex: 5;
}

.col6 {
    flex: 6;
}

main {
    margin: 20px;
}

/* Nav bar */

header {
    background: linear-gradient(#0f172a, #6a22a6);
    display: flex;
    padding: 0 20px 0 20px;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

header a {
    color: #dba7ff;
    text-shadow: 1px 1px 2px black, 0 0 25px #ff00fb, 0 0 5px darkblue;
}

h1 {
    font-size: 2.7rem;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 8px;
}

header a:link,
h2 a:link {
    text-decoration: none;
}

header a:visited,
h2 a:visited {
    text-decoration: none;
}

header a:hover,
h2 a:hover {
    text-decoration: none;
}

header a:active,
h2 a:active {
    text-decoration: none;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
}

h2 a {
    color: #0f172a;
}

h2 > div {
    border-bottom: 5px solid #6a22a6;
    display: inline;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6a22a6;
    margin: 20px 0 20px 0;
}

input {
    border: 1px solid lightgrey;
    font-size: 1rem;
    padding: 4px;
    margin: 2px;
}

/* Home */
.home-welcome-text {
    font-weight: 250;
    font-size: 1.6rem;
    margin-left: 20px;
}

.home-movies {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: scroll;
    padding: 10px 0 20px 0;
}

.home-nav-item {
    font-size: 1.1rem;
    font-weight: bold;
    margin-left: 20px;
}

.home-movie {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Movie detail */

.movie-year {
    font-weight: 200;
}

.movie-artwork {
    display: block;
    margin: 0 auto 0 auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.movie-detail {
    margin: 20px;
}

.movie-crew {
    list-style-type: none;
    font-size: 1.2rem;
    padding-left: 0;
}

.movie-crew li {
    margin-bottom: 10px;
}

.movie-links {
    display: flex;
    gap: 20px;
}

.movie-link {
    border: black 2px solid;
    border-radius: 2px;
    padding: 2px;
}

.movie-fav-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.movie-fav-icon {
    margin-right: 5px;
}

/* Search results */

.search-results {
    list-style-type: none;
    padding-left: 0;
    max-width: 800px;
}

.search-result-crew {
    margin-left: 20px;
}

.highlight {
    background-color: yellow;
    color: black;
    font-weight: bold;
}
/* Forms */
form label,
form input {
    display: block;
}

input[type="button"],
input[type="submit"] {
    background-color: #2ea44f;
    border: 0;
    border-radius: 0.375rem;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 0.925rem;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

button {
    background-color: #2ea44f;
    border: 0;
    border-radius: 0.375rem;
    padding: 10px 20px 10px 20px;
    color: white;
    font-size: 0.925rem;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

button {
    border: 0;
    border-radius: 0.375rem;
    padding: 10px 20px 10px 20px;
    font-size: 0.925rem;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

button.small {
    border: 0;
    border-radius: 0.375rem;
    padding: 5px 10px 5px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
}

button.primary:active {
    background-color: #278c42;
    transform: translateY(2px);
    box-shadow: rgba(50, 50, 93, 0.25) 0 1px 5px -1px,
        rgba(0, 0, 0, 0.3) 0 0px 3px -1px;
}

button.secondary:active {
    background-color: #da5301;
    transform: translateY(2px);
    box-shadow: rgba(50, 50, 93, 0.25) 0 1px 5px -1px,
        rgba(0, 0, 0, 0.3) 0 0px 3px -1px;
}

.primary {
    background-color: #2ea44f;
    color: white;
}

.secondary {
    background-color: #fd6300;
    color: white;
}

/* Login */
.login {
    display: flex;
}

.login-form {
    margin-left: auto;
    margin-right: auto;
}

/* Sign up */
.signup {
    display: flex;
}

.signup-form {
    margin-left: auto;
    margin-right: auto;
}

/* Flash messages */
.flash {
    padding: 10px 20px 10px 20px;
    margin: 10px auto 0 auto;
    max-width: 400px;
    font-size: 1rem;
}

.text-info {
    color: #075985;
}

.background-info {
    background-color: #e0f2fe;
}

.text-success {
    color: #166534;
}

.background-success {
    background-color: #e7fcdc;
}

.text-warning {
    color: #854d0e;
}

.background-warning {
    background-color: #fef9c3;
}

.text-error {
    color: #991b1b;
}

.background-error {
    background-color: #fee2e2;
}
